.card:hover {
    transform: scale(1.1);
    border: 1px solid white ;
    box-shadow: 0px 0px 50px black;
    cursor: pointer;
} 

 main{
     background-color: rgb(255, 255, 155);
}
header {
    background-image: linear-gradient( to right ,yellow , rgb(255, 255, 132));
}
footer {
    background-image: linear-gradient( to right ,yellow , rgb(255, 255, 132));
}
.Email:hover {
    transform: scale(1.1);
    border: 1px solid rgb(255, 191, 73) ;
    cursor: pointer;
} 
.password:hover {
    transform: scale(1.1);
    border: 1px solid rgb(255, 191, 73) ;
    cursor: pointer;
} 
.button:hover {
    transform: scale(1.1);
    border: 1px solid rgb(255, 191, 73) ;
    cursor: pointer;
} 
.login {
    background-color: yellow;
}