.card:hover {
    transform: scale(1.1);
    border: 1px solid white ;
    box-shadow: 0px 0px 50px black;
    cursor: pointer;
} 

 main{
     background-color: rgb(255, 255, 155);
}
header {
    background-image: linear-gradient( to right ,yellow , rgb(255, 255, 132));
}
footer {
    background-image: linear-gradient( to right ,yellow , rgb(255, 255, 132));
}
.email:hover {
    transform: scale(1.1);
    cursor: pointer;
} 
.password:hover {
    transform: scale(1.1);
    cursor: pointer;
} 
.cuentaButton:hover {
    transform: scale(1.1);
    cursor: pointer;
} 
.login {
    background-color: yellow;
}


.cuentaContainer {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.cuentaContainer form {
    background-color: yellow;
    padding: 20px;
}

.cuentaButton {
    display: flex;
    justify-content: center;
}

.cuentaRegistrarse {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cuentaRegistrarse h4 {
    font-size: 15px;
    text-align: center;
}

.cuentaContainer form a {
    color: white
}



.container-fluid {
    z-index: 1;
}